<ul id="lists">
  <% sort_by_done(@lists.values).each do |list| %>
    <li class="<%= css_class(list) %>">
      <a>
        <h2><a href="/lists/<%= list.id %>" ><%= list.name %></a></h2>
        <p><%= list.all_done.size %> / <%= list.size %></p>
      </a>
    </li>
  <% end %>
</ul>
<% content_for :header_links do %>
  <a class="add" href="/lists/new">
    New List
  </a>
<% end %>
